.container {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav nav nav"
    "hero hero hero"
    "leftside content rightside"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1ft auto;
  grid-gap: 10px;

  height: 100vh;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  background-color: darksalmon;
}

.hero {
  grid-area: hero;
  background-color: bisque;
}

main {
  grid-area: content;
  background-color: coral;
}

.rightside {
  grid-area: rightside;
  background-color: cornflowerblue;
}

.leftside {
  grid-area: leftside;
  background-color: aquamarine;
}

footer {
  grid-area: footer;
  background-color: aliceblue;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "hero"
      "content"
      "leftside"
      "rightside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      auto /* nav */
      auto /* hero */
      minmax(75px, auto) /* rightside */
      1fr /* Content */
      minmax(75px, auto) /* leftside */
      auto; /* footer */
  }

  .leftside,
  .rightside {
    margin: 0;
  }
}
