html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  font-family: Arial, sans-serif;
  display: grid;

  grid-template-areas:
    "header header header"
    "nav nav nav"
    "hero hero hero"
    "leftside content rightside"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1ft auto;
  grid-gap: 2px;

  height: 100vh;
}

.container h1,
h2 {
  font-family: "Futura", "Avenir", Arial, sans-serif;
}

header {
  padding: 1rem;
  grid-area: header;
}

header h2 {
  font-weight: 100;
}

nav {
  grid-area: nav;
  background-color: darksalmon;
}

.hero {
  grid-area: hero;
  display: flex;
  background: url("images/seattle-pano.jpg") no-repeat center;
  align-items: center;
}

.hero h2 {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  text-shadow: 5px 5px 10px darkslategrey;
  text-transform: uppercase;
}

main {
  grid-area: content;
  background-color: coral;
}

.rightside {
  grid-area: rightside;
  background-color: cornflowerblue;
}

.leftside {
  grid-area: leftside;
  background-color: aquamarine;
}

footer {
  grid-area: footer;
  background-color: aliceblue;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "hero"
      "content"
      "leftside"
      "rightside"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      auto /* nav */
      auto /* hero */
      minmax(75px, auto) /* rightside */
      1fr /* Content */
      minmax(75px, auto) /* leftside */
      auto; /* footer */
  }

  .leftside,
  .rightside {
    margin: 0;
  }
}
